# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        agricraft:water_pad
        agricraft:water_channel_valve
        davincisvessels:crate_wood
        tconstruct:slime_channel
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customDoor
        malisisdoors:saloon
        malisisdoors:verticalHatch
        malisisdoors:camoFenceGate
        minefactoryreloaded:rail_cargo_dropoff
        minefactoryreloaded:rail_cargo_pickup
        minefactoryreloaded:rail_passenger_dropoff
        minefactoryreloaded:rail_passenger_pickup
        storagedrawers:keybutton
        refinedstorage:detector
        railcraft:detector
        railcraft:track_elevator
        stevescarts:BlockAdvDetector
        stevescarts:BlockDetector
        toughasnails:temperature_coil
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


