// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap/config/5.4/
// For more information, go to: http://journeymap.info/Options_Manager
{
  "playerDisplay": "LargeDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "true",
  "showVillagers": "false",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "2",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "false",
  "locationFormat": "xyz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "preferredMapType": "day",
  "zoomLevel": "2",
  "configVersion": "5.4.7"
}