// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap/config/5.4/
// For more information, go to: http://journeymap.info/Options_Manager
{
  "enabled": "true",
  "shape": "Square",
  "position": "BottomRight",
  "showFps": "false",
  "showBiome": "true",
  "showLocation": "true",
  "sizePercent": "20",
  "frameAlpha": "50",
  "terrainAlpha": "50",
  "orientation": "North",
  "compassFontScale": "2",
  "showCompass": "false",
  "showReticle": "true",
  "reticleOrientation": "PlayerHeading",
  "active": true,
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "2",
  "showWaypointLabels": "false",
  "locationFormatVerbose": "false",
  "locationFormat": "xyz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "false",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.4.7"
}