# Configuration file

general {
    # For details, please check https://github.com/oldjunyi/NoMobSpawningOnTrees/wiki
    S:blacklistRules <
        mobtype:monster & dim:0
        -mobtype:monster & light:0 & (block:undergroundbiomes:igneous_stone | block:undergroundbiomes:metamorphic_stone | block:undergroundbiomes:sedimentary_stone | block:minecraft:stone)
        mob:spider
        -mob:spider & light:0-10 & biome:RoofedForest
     >

    # Extra spawning tries per tick. This will only applies to hostile mobs.
    D:extraSpawningTries=0.0

    # The capacity is the maximum (approximate) number of creatures can exist near the player.
    # Set -1 to use the default value, which is: monster(70), animal(10), ambient(15), water(5)
    I:spawnCapacityAmbient=-1
    I:spawnCapacityAnimal=-1
    I:spawnCapacityMonster=-1
    I:spawnCapacityWater=-1
}


