# Configuration file

general {
    # For details, please check https://github.com/oldjunyi/NoMobSpawningOnTrees/wiki
    S:blacklistRules <
        mobtype:monster & dim:0 & light:1-15,sky
        -mob:spider & light:0-10 & biome:RoofedForest
        -mob:slime
        
        @mob:slime, biome:Swampland, weight:500, count:1-5
     >

    # Extra spawning tries per tick. This will only applies to hostile mobs.
    D:extraSpawningTries=0.0

    # The capacity is the maximum (approximate) number of creatures can exist near the player.
    # Set -1 to use the default value, which is: monster(70), animal(10), ambient(15), water(5)
    I:spawnCapacityAmbient=-1
    I:spawnCapacityAnimal=-1
    I:spawnCapacityMonster=-1
    I:spawnCapacityWater=-1
}


